
  .footer {
    grid-area: f;

    color: azure;
    
    background-color: rgb(4, 0, 52);
    }

/* .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
 

  } */
  
  /* @media (min-width: 768px) {
    .container {
      padding: 40 0px;
    }
  } */
  
  /* @media (min-width: 1280px) {
    .container {
      padding: 0 40px;
    }
  } */

