.dialogs {
    /* grid-area: c; */
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: azure;

    height: 100%;

    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    
    background-repeat: no-repeat;
}


.dialogsItems{
    padding: 10px;

}

.items a{
    /* padding: 10px; */
    text-decoration: none;
}

.message{
    /* padding: 10px; */

}

.active {
    text-decoration: none;
    color:rgb(81, 255, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
      background-color: rgba(74, 68, 68, 0.3);
    
}

